body {
  background-color: slategray;
}

.cell {
  width: 50px;
  aspect-ratio: 1;
  background: none;
  border: 1px solid black;
}

.snake {
  background-color: #80faee;
}

.egg::before {
  content: " 🚉";
  /* " 🥚"; */
  font-size: 40px;
}

.row {
  display: flex;
  gap: 2px;
  margin: 2px;
  justify-content: center;
}
